<p>
  <app-header ></app-header>
  BIENVENIDO A DASHBOARD! {{User}}
</p>
<div *ngIf="Rol=='Ejecutivo'">Este Usuario solo puede administrar tareas</div>

<div *ngIf="Rol=='Ejecutivoadmin'"> <div>Este Usuario solo puede administrar tareas y modicar datos</div> 

<a target="_blank" href="http://localhost:4200/auth/update"><input type="submit" class="fadeIn fourth" value="Modificar"></a>
</div>

<div *ngIf="Rol=='Administrador'"> <div>Este Usuario solo puede modicar datos, agregar usuarios y eliminarlos</div> 

  <a target="_blank" href="http://localhost:4200/auth/update"><input type="submit" class="fadeIn fourth" value="Modificar"></a>
  <a target="_blank" href="http://localhost:4200/auth/delete"><input type="submit" class="fadeIn fourth" value="Eliminar"></a>
  <a target="_blank" href="http://localhost:4200/auth/register"><input type="submit" class="fadeIn fourth" value="Crear"></a>
</div>

