

<div class="app-container">

  <div class="app-content">
    <app-sidebar></app-sidebar>
    <div class="projects-section">
      <div class="projects-section-header">
        <p>Flujos</p>
        <p class="time">{{datetoday}}</p>
      </div>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">0</span>
            <span class="status-type">En Progreso</span>
          </div>
          <div class="item-status">
            <span class="status-number">0</span>
            <span class="status-type">Por iniciar</span>
          </div>
          <div class="item-status">
            <span class="status-number">{{flujosInstanciado.length}}</span>
            <span class="status-type">Total</span>
          </div>
        </div>
        <div class="view-actions">
          <button class="view-btn list-view active" title="List View">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
              <line x1="8" y1="6" x2="21" y2="6" />
              <line x1="8" y1="12" x2="21" y2="12" />
              <line x1="8" y1="18" x2="21" y2="18" />
              <line x1="3" y1="6" x2="3.01" y2="6" />
              <line x1="3" y1="12" x2="3.01" y2="12" />
              <line x1="3" y1="18" x2="3.01" y2="18" />
            </svg>
          </button>
          <button class="view-btn grid-view " title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
              <rect x="3" y="3" width="7" height="7" />
              <rect x="14" y="3" width="7" height="7" />
              <rect x="14" y="14" width="7" height="7" />
              <rect x="3" y="14" width="7" height="7" />
            </svg>
          </button>
        </div>
      </div>
      <div class="project-boxes jsListView"  name="asd">
        <div *ngFor="let element of flujosInstanciado" class="project-box-wrapper" id="asd">
          <div class="project-box" (click)="viewFlujo(element)">
            <div class="project-box-header" >
              <span>{{element.FECHAINICIO}}</span>
              <div class="more-wrapper" >
                <button class="project-btn-more">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="project-box-content-header">
              <p class="box-content-header">{{element.NOMBRE}}</p>
              <p class="box-content-subheader">{{element.DESCRIPCION}}</p>
            </div>
            <div class="box-progress-wrapper">
              <p class="box-progress-header">Progreso</p>
              <div class="box-progress-bar">
                <span class="box-progress prueba{{element.ID}}"><mat-progress-bar mode="determinate" value={{element.AVANCETOTAL}}></mat-progress-bar></span>
              </div>
              <p class="box-progress-percentage">{{element.AVANCETOTAL}}%</p>
            </div>
            <div class="project-box-footer">
              <div class="days-left" style="color: #000000;">
                #{{element.ID}}
              </div>
            </div>
          </div>
        </div>
        <div class="project-box-wrapper">
        </div>
      </div>
    </div>
    <div class="messages-section" *ngIf="notificaciones != 0">
      <button class="messages-close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
          <circle cx="12" cy="12" r="10" />
          <line x1="15" y1="9" x2="9" y2="15" />
          <line x1="9" y1="9" x2="15" y2="15" />
        </svg>
      </button>
      <div class="projects-section-header">
        <p>Notificaciones</p>
      </div>
      <div class="messages">
        <div class="message-box" *ngFor="let noti of notificaciones; let i = index">
          <a *ngIf="rol != 5; else templateName">
          <div class="message-content" >
            <div class="message-header">
              <div class="name">Flujo aginado ID {{noti.flujoID}} {{noti.flujoName}} </div>
              <div class="star-checkbox">
                <input type="checkbox" id="star-1">
                <label for="star-1">
                  <i class="gg-toolbox"></i>
                </label>
              </div>
            </div>
            <p class="message-line">
              Tienes {{notificaciones[i].tareas.length}} tareas pendientes, se debe aceptar la tareas asignadas para no incorrir en retrasos o realizar un reporte si se presenta algun inconveniente
            </p>
            <p class="message-line time">
              {{noti.fecha}}
            </p>
          </div>
        </a>
        <ng-template #templateName>
          <div class="message-content" >
            <div class="message-header">
              <div class="name">Tarea en el Flujo {{noti.flujoID}} rechazado</div>
              <div class="star-checkbox">
                <input type="checkbox" id="star-1">
                <label for="star-1">
                  <i class="gg-toolbox"></i>
                </label>
              </div>
            </div>
            <p class="message-line">
              <a *ngIf="notificaciones[i].tareas.length >1;else multi">
                Tienes {{notificaciones[i].tareas.length}} tareas rechazadas por este flujo, se debe verificar el estado de la tarea para su reasignacion
                
              </a>
              
              <ng-template #multi>
                Tienes {{notificaciones[i].tareas.length}} tarea rechazada por este flujo, se debe verificar el estado de la tarea para su reasignacion
                
              </ng-template>
            </p>
            <p class="message-line time">
              {{noti.fecha}}
            </p>
          </div>

      </ng-template>
        </div>
        
       
      </div>
    </div>
  </div>
</div>