<div class="wrapper fadeInDown ">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Eliminar</h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://i.ibb.co/Gcf5hhF/Process-Negro.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onDelete(frmLogin)">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" ngModel required>

      <input type="submit" class="fadeIn fourth" value="Enviar">
    </form>

  </div>
</div>