


<div class="wrapper fadeInDown ">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://i.ibb.co/Gcf5hhF/Process-Negro.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email" ngModel required>
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" ngModel required>

      <input type="submit" class="fadeIn fourth" value="Log in">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>