<div class="center" mat-dialog-content><h2>{{titulo}}</h2></div>
<div class="center" mat-dialog-content>{{mensaje}}</div>
<div class="center" mat-dialog-content>
    <mat-form-field appearance="fill">
         <input  *ngIf="opcion==0;else number" matInput [(ngModel)]="comentario" placeholder="Escriba aqui...">
         <ng-template #number> <span  matTooltip="ATRASADA"><input matInput type="number" [(ngModel)]="comentario" placeholder="Escriba aqui..."></span> </ng-template>
    </mat-form-field>
   
</div>
<div mat-dialog-actions>
    
    
    <button mat-button (click)="onClickNO()">Cerrar</button>
    <button mat-button [mat-dialog-close]="comentario">Enviar</button>
</div>
