.form {   
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    overflow-y: scroll;
  }
  
  .card{
    min-width: 300px;
    max-width: 800px;
    width: 80%;
  }

  .card2{
    margin-top:0px;
    float:top
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }
  .button{
    width: 100%
  }
  mat-card-title{
    text-align: center;
  }
  .spacer {
    flex: 1 1 auto;
}
.scroll-ele{
    height: 700px;
    width: 1000px;
    overflow-y: scroll;
}

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  