

<div class="app-container">

  <div class="app-content">
    <app-sidebar></app-sidebar>
    <div class="projects-section">
      <div class="projects-section-header">
        <p>Tarea ID# {{idTask}} - {{nameTask}} </p>
        <p class="time"></p>
      </div>
      <div class="projects-section-line">
        <div class="projects-status">
          <div class="item-status">
            <span class="status-number">{{myTasks.length}}</span>
            <span class="status-type">Asignadas a mi</span>
          </div>         
        </div>
        
        <span class="status-type">Avance </span>
        <mat-progress-bar class="bar" mode="determinate" value={{avance}}></mat-progress-bar>
        <span class="status-type"><strong>{{avance}}% </strong></span>
        <span *ngIf="rol== 3 || rol == 8">
          <span *ngIf="avance == 100;else forzarCierre"><button mat-raised-button  color="primary" (click)="openDialogCerrarFlujo()">Terminar Flujo</button></span>
          <ng-template #forzarCierre><button mat-raised-button  color="warn" (click)="openDialogForzarCierre()">Forzar Cierre</button></ng-template>
        </span>
        
      </div>     
      <div class="project-boxes jsGridView"  name="asd">
        <div>
            <ejs-gantt height="600px" width="1080px"
                [dataSource]="data"
                [taskFields]="taskSettings"
                [columns]="columnSettings"
                [timelineSettings]="timelineSettings" timezone="IST"
                [includeWeekend]="true"
                >
            </ejs-gantt>
            </div>
        <div class="project-box-wrapper">
        </div>
      </div>
    </div>
    <div class="messages-section">
        <button class="messages-close">
          <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
            <circle cx="12" cy="12" r="10" />
            <line x1="15" y1="9" x2="9" y2="15" />
            <line x1="9" y1="9" x2="15" y2="15" />
          </svg>
        </button>
        <div class="projects-section-header">
          <p>Tareas asignadas</p>
        </div>
        <div class="messages" *ngFor="let element of myTasks; let i = index">
          <div class="message-box" *ngIf="element.Rechaza == 0">
            <div class="message-content">
              <div class="message-header">
                <div class="name">{{element.TaskID}}. {{element.TaskName}}</div>
                <div class="star-checkbox">
                  <input type="checkbox" id="star-1">
                  <label for="star-1" >
                    <span matTooltip="Reportar Problema" *ngIf="bugButton(element)"> <i  class="gg-info" (click)="openDialogBug(element.TaskID)"></i></span>
                    
                  </label>
                </div>
              </div>
              
              <p class="message-line">
                <a class="button-row" *ngIf="element.Acepta == 0; else templateName">
                    <mat-button-toggle-group [(ngModel)]="element.Acepta">
                    <button mat-raised-button  color="primary"  (click)="actuAceptRecha(element,0, 1)">Aceptar Tarea</button>
                    <button mat-raised-button  color="warn" (click)="openDialogRechazarTarea(element,1, 1)">Rechazar Tarea</button>
                </mat-button-toggle-group>
                </a>
                <ng-template #templateName>
                  <span *ngIf="semaforo(element.FechaInicio)< 1; else fueradetiempo">
                    <p class="message-line">
                        <mat-slider color="primary"
                            thumbLabel
                            [(ngModel)] = "element.Avance"
                            tickInterval="1000"
                            step="1"
                            min=0
                            max="100"
                            aria-label="units"
                            disabled={{activarSlider(element.Finalizada)}}>
                        </mat-slider>
                        <span *ngIf="element.Finalizada=='0'">
                          <span *ngIf="element.Avance !=100 && element; else terminada"><button mat-raised-button [disabled]="false" color="primary" (click)="actualizar(element)">Actualizar</button></span>
                          <ng-template #terminada><button mat-raised-button [disabled]="false" color="primary" (click)="finalizar(element)">Finalizar</button></ng-template>
                        </span>
                      </p>
                      <span *ngIf="element.Finalizada=='0'; else diasAvance">
                        <span *ngIf="semaforo(element.FechaFin) > -1; else retrasado" > <p class="green">Tiempo restante: {{semaforo(element.FechaFin)}} dias</p></span>
                        <ng-template #retrasado><p class="red"> Retrasado por: {{semaforo(element.FechaFin)}} dias</p></ng-template>
                      </span>
                      <ng-template #diasAvance>Tarea Finalizada</ng-template>
                    </span>
                    <ng-template #fueradetiempo>
                      <p class="message-line">
                        <mat-slider color="primary"
                            thumbLabel
                            [(ngModel)] = "element.Avance"
                            tickInterval="1000"
                            step="1"
                            min=0
                            max="100"
                            aria-label="units"
                            disabled="true">
                        </mat-slider>
                      </p>
                      <span>
                        <p class="green"> Tarea comienza en: {{semaforo(element.FechaInicio)}} dias</p>
                      </span>
                    </ng-template>

                </ng-template>
                
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>