


<div class="wrapper fadeInDown ">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active">Crear Cuenta</h2>

    <!-- Login Form -->
    <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
      <input type="text" name="name" placeholder="Nombre" class="fadeIn second" ngModel required>
      <input type="email" name="email" placeholder="Email" class="fadeIn third" ngModel required>
      <input type="password" name="password" placeholder="Password" class="fadeIn third" ngModel required>
      <select type="text" name="rol" id="rol" ngModel>
        <option value="" disabled selected>Seleciona un Rol</option>
        <option  type="text" *ngFor="let rol of roles" [value]="rol.valor">{{rol.name}}</option>
      </select>
      <input type="submit" class="fadeIn fourth" value="Crear Cuenta">
    </form>


  </div>
</div>
